.alert-circle-image{
    width: 55px;
    height: 50px;
    align-items: center;
    color: red;
    padding: 1rem;
}
.add-alert-image {
    width: 55px;
    height: 50px;
    align-items: center;
    color: blue;
padding: 1rem;
}