.footer-container{
    display: flex;
    flex-basis: 70px;
    background-color: aqua;
    align-items: center;
    justify-content: center;
    gap: 1rem;

}
.footer-links{
    font-size: large;
    color: black;
    text-decoration: none;
    padding: 7px 0;
}