.header-container{
    background-color: aqua;
    color: black;
    flex-basis: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 100%;
}
.header-container-link a:hover{
    color:white;
 }
 .header-container h1{
    padding: 0px 10px;
}