.navigation-bar{
    /* display: flex; */
    background-color: darkorange;
    /* border-radius: 1rem; */
   align-items: center;
   justify-content: space-between;
}
.navlink-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-link{
    display: inline;
    margin : 1rem;
    text-align: left;
    text-decoration: none;
    color: black;
}
.nav-link:hover{
    background-color: blue;

}
 .nav-brand{
    margin-left: 1rem;
 }
 .link-container{
    margin-left: 10rem;
 }


 .header-navbar-container{
   background-color:  aqua;
   flex-basis: 70px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-decoration: none;
   width: 100%;
 }
 .header-navbar-container h1 {
   padding: 1rem;
 }
 .header-navbar-link{
   text-decoration: none;
   padding: 2rem;

}
