.card-container{
    display: flex;
    flex-direction: column;
width: 15rem;
border-radius: 1rem;
margin: 0.5rem;
height: fit-content;
/* box-shadow:8px 10px 10px 5px; */
background-color: white;
border: 1px solid black;
}
.card-image{
    width: 100%;
    border-radius: 1rem ;
}
.card-title{
    text-align: center;
    margin: 5px 5px;
}
.card-btn{
    text-align: center;
    text-decoration: none;
  margin: 0.5rem;
    background-color: blue;
    padding: 0.5rem 1rem;
border-radius: 5px;
color: white;
}